
.navbar {
  height: 44px;
  font-size: 18px;
  padding: 0px;
  background: #6e5baa;
  /*border-bottom: 5px solid #372d55;*/
  box-shadow: 0px 4px 7px rgba(0,0,0,0.3);
  color: #fff;
}

.navbar-left {
  margin-left: 20px;
  font-size: 26px;
  padding-top: 4px;
  width: 32%;
  float: left;
  height: 100%;
  cursor: pointer;
}

.navbar-left i {
  padding-right: 20px;
}

.navbar-left i:hover {
  color: #372d55;
}

.fa-check-square-o {
  padding-top: 2px;
}

.navbar-center {
  padding-top: 1px;
  display: inline-block;
  width: 32%;
  text-align: center;
  cursor: pointer;
}

.navbar-right {
  padding-top: 6px;
  float: right;
  margin-right: 20px;
  width: 32%;
  cursor: pointer;
}


.navbar-right p {
  font-size: 16px;
  float: left;
  margin: 6px 20px 0px 0px;
}

.navbar-right i {
  float: right;
  margin: 5px 20px 0px 10px;
}

.add-link-icon {
  color: #fff;
  font-size: 26px;
}

.add-link-icon:hover {
  color: #372d55;
}

.nav-dropdown-link {
  float:right;
}

.nav-dropdown-link-username:hover {
  color: #372d55;
}

.nav-dropdown {
  width: 140px;
  z-index: 5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  list-style: none;
  text-align: left;
  font-size: 14px;
  margin-top: 40px;
  position: absolute;
}

.nav-dropdown li {
  color: #372d55;
  padding: 5px 10px;
  cursor: pointer;
}

.nav-dropdown li:hover {
  background-color: #e5e5e5;
}

.navbar-right .nav-dropdown-link i {
  margin-right: 5px;
}

.navbar-right .nav-dropdown i {
  float: left;
  margin: 3px 10px 0px 0px;
  width: 13px;
}

.btn {
  font-size: 18px;
  color: #fff;
  padding: 9px 20px 0px 0px;
}





/*** Add Link Modal ***/

.add-link-modal {
  position: fixed;
  z-index: 10;
  width: 100%;
}

/*.add-link-modal div {
  width: 50%;
  height: 180px;
  margin: 60px auto;  
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
}*/

.add-link-modal div i, .x-button {
  float: right;
  cursor: pointer;
}

.add-link-modal h2 {
  margin: 20px auto 5px;
  width: 400px;
}

.add-link-modal input {
  padding: 8px 14px;
  width: 285px;
  font-size: 16px;
}

.add-link-modal input[type='submit'] {
  padding: 8px 14px;
  width: 315px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  background-color: #6e5baa;
  color: #fff;
}

.add-link-modal input[type='submit']:hover {
  background-color: #372d55;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8;
  cursor: pointer;
  background-color: #000;
  opacity: 0.6;
}

.firstModal {
  width: 50%;
  height: 180px;
  margin: 60px auto;  
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
  color: #000000;
}

.secondModal {
  width: 700px;
  height: 350px;
  margin: 60px auto;  
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  color: #000000;
  padding: 5px 5px 40px;
}

.post-image-img {
  float: left;
  margin-left: 35px;
  width: 250px;
  height: 280px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post-image-info {
  float: left;
  padding: 0px 10px 10px;
  text-align: left;
  margin-right: 35px;
  width: 355px;
}

.post-image-info-title {
  font-weight: 600;
}

.modal-submit {
  width: 300px;
  margin-right: 35px;
  border: none;
  background-color: #6e5baa;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

.modal-submit:hover {
  background-color: #372d55;
}

.modal-type-buttons {
  list-style-type: none;
  padding: 0px;
  margin: 8px auto;
  width: 250px;
  font-size: 12px;
  text-align: center;
}

.modal-type-buttons li {
  float: left;
  margin: 0px;
  width: 250px;
  height: 22px;
  position: relative;
  cursor:pointer;
}

.modal-type-buttons label, .modal-type-buttons input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.modal-type-buttons input[type="radio"] {
  opacity:0;
  z-index:1;
}

.modal-type-buttons input[type="radio"]:checked + label,
.Checked + label {
  background: #e0e0e0;
}

.modal-type-buttons label {
  padding-top: 0px;
  border:1px solid #e0e0e0;
}

.modal-type-buttons li:hover {
  background: #e0e0e0;
}

.secondModal img {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.secondModal p {
  font-size: 13px;
  margin: 5px;
  text-align: center;
}

.secondModal li {
  list-style-type: none;
}


.btn-back {
  fill: #fff;
  width: 1.3em;
  height: 1.3em;
}

.btn-back:hover {
  fill: gray;
  cursor: pointer;
}

#navbar-left .btn {
  float: left;
}
