<div class='navbar' ng-controller="NavCtrl">

	<div class="modal-background" ng-click="changeModal()" ng-show="firstModalShow"></div>
	<div class="add-link-modal" ng-show="firstModalShow">
			<div class='firstModal'>
            <svg class="x-button" ng-click="changeFirstModal()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="m10 6c-2.21 0-4 1.79-4 4v28c0 2.21 1.79 4 4 4h28c2.21 0 4-1.79 4-4v-28c0-2.21-1.79-4-4-4h-28m6.83 8l7.17 7.17 7.17-7.17 2.83 2.83-7.17 7.17 7.17 7.17-2.83 2.83-7.17-7.17-7.17 7.17-2.83-2.83 7.17-7.17-7.17-7.17 2.83-2.83"/></svg>
			<h2>Share Link For Clothing</h2>
			<form name="addLink" ng-submit='getImageData(newLink)' novalidate>
				<input type='text' name="urlText" placeholder="Paste URL..." ng-model="newLink"><br>
				<input type="submit" value="Submit Link">
			</form>
		</div>
	</div>

	<div class="modal-background" ng-click="changeModal()" ng-show="secondModalShow"></div>
	<div class="add-link-modal" ng-show="secondModalShow" ng-model='link'>
			<div class='secondModal'>
			<i ng-click="changeSecondModal()" class="fa fa-times-circle fa-2x"></i>
			<h4>Please Verify Post</h4>
			<form name="post" ng-submit='postImage()' novalidate>
				<div class='post-image-img'>
					<img ng-src='{{ image }}' />
				</div>
				<div class="post-image-info">
					<p class="post-image-info-title">{{ image_name }}</p>
					<p>{{ source }}</p>
					<br>
					<p>Please Select Clothing Type</p>
					<ul class="modal-type-buttons" ng-show='femaleShow'>
		      			<li>
		        			<input id="tops" type='radio' ng-model='entry.type' value='tops' />
		        			<label for="tops">Tops</label> 
		      			</li>
		      			<li>
		        			<input id="bottoms" type='radio' ng-model='entry.type' value='bottoms' />
		        			<label for="bottoms">Bottoms</label>
		     			</li>
		     			<li>
		        			<input id="dresses" type='radio' ng-model='entry.type' value='dresses' />
		        			<label for="dresses">Dresses</label>
		     			</li>
		     			<li>
		        			<input id="shoes" type='radio' ng-model='entry.type' value='shoes' />
		        			<label for="shoes">Shoes</label>
		     			</li>
		     			<li>
		        			<input id="accessories" type='radio' ng-model='entry.type' value='accessories' />
		        			<label for="accessories">Accessories</label>
		     			</li>
		   			</ul>
					<ul class="modal-type-buttons" ng-show='maleShow'>
		      			<li>
		        			<input id="tops" type='radio' ng-model='entry.type' value='tops' />
		        			<label for="tops">Tops</label> 
		      			</li>
		      			<li>
		        			<input id="bottoms" type='radio' ng-model='entry.type' value='bottoms' />
		        			<label for="bottoms">Pants</label>
		     			</li>
		     			<li>
		        			<input id="dresses" type='radio' ng-model='entry.type' value='dresses' />
		        			<label for="dresses">Shorts</label>
		     			</li>
		     			<li>
		        			<input id="shoes" type='radio' ng-model='entry.type' value='shoes' />
		        			<label for="shoes">Shoes</label>
		     			</li>
		     			<li>
		        			<input id="accessories" type='radio' ng-model='entry.type' value='accessories' />
		        			<label for="accessories">Accessories</label>
		     			</li>
		   			</ul>
				</div>
				<button class="modal-submit" type="submit" value="Submit Link">Submit Link</button>
			</form>
		</div>
	</div>

    <div class='navbar-left'>
		<i ng-click="goBack()" ng-show="isAuth" class="fa fa-arrow-left"></i>
        <a class='btn out' ng-show="!isAuth" ui-sref='signin'>Sign In</a>
        <a class='btn out' ng-show="!isAuth" ui-sref='signup'>Sign Up</a>
        <i ng-show="isAuth" class="fa fa-check-square-o" ui-sref='vote'></i>
        <i ng-show="isAuth" class="fa fa-star" ui-sref='topUsers'></i>
    </div>

    <div class="navbar-center" ui-sref='home'>
    	<img src="cflogo.svg" style="width:350px;height:40px;">
    </div>

    <div class="navbar-right" ng-show="username">
    	<i ng-click="changeFirstModal()" class="fa fa-plus add-link-icon"></i>
		<div class="nav-dropdown-link" ng-show="!{{username}}">
			<div class="nav-dropdown-link-username" ng-click="showNavDropdownContent()">
				<p>{{firstname}} {{lastname}}</p>
			</div>
			<div class="nav-dropdown" ng-show="showNavDropdown">
				<li ui-sref="closet"><i class="fa fa-user"></i>Profile</li>
				<li ui-sref='signout'><i class="fa fa-sign-out"></i>Log Out</li>
			</div>
		</div>
    </div>

    
</div>


